/*/
/* BASE RULES
/*/

html {
  font-size: 100%;
}

body {
  font-family: $primary-font;
	background: $white;
  color: $darkGray;
  @include debug-vertical-alignment();
  background-image: -webkit-linear-gradient(bottom, #FF1D8E 5%, rgba(0, 0, 0, 0) 5%);
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Background Colors

.bg-dark{
  background-color: $darkerGray;
  color: $white;
  h2{
    color: $white;
  }
}










// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}