/**
 * Variables
 */

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks (Cardo and Montserrat)
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700,400italic|Montserrat:400,700|Open+Sans:400,600,700,400italic,600italic);

$helvetica:       Helvetica, Arial, sans-serif;
$helveticaNeue:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia:         Georgia, serif;
$cardo:           'Cardo', Georgia, serif;
$montserrat:      'Montserrat', "Futura PT", Helvetica, sans-serif;
$open-sans:       'Open Sans', Helvetica, sans-serif;

// Site fonts
$primary-font: $open-sans;
$text-color: $darkGray;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 520px) {
    @content;
  }
}

// Compass Imports

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";


$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: em;
$default-rhythm-border-style: 1px red;

