@charset "UTF-8";
/***************/
/* MEYER RESET */
/***************/
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700,400italic|Montserrat:400,700|Open+Sans:400,600,700,400italic,600italic);
/* line 17, scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 27, scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, scss/_reset.scss */
body {
  line-height: 1;
}

/* line 33, scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, scss/_reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Variables
 */
@font-face {
  font-family: 'tiffanytse';
  src: url("font/tiffanytse.eot?46627485");
  src: url("font/tiffanytse.eot?46627485#iefix") format("embedded-opentype"), url("font/tiffanytse.woff?46627485") format("woff"), url("font/tiffanytse.ttf?46627485") format("truetype"), url("font/tiffanytse.svg?46627485#tiffanytse") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tiffanytse';
    src: url('../font/tiffanytse.svg?46627485#tiffanytse') format('svg');
  }
}
*/
/* line 22, scss/_tiffanytse.scss */
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "tiffanytse";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 57, scss/_tiffanytse.scss */
.i-right-open:before {
  content: '\e800';
}

/* '' */
/* line 58, scss/_tiffanytse.scss */
.i-down-open:before {
  content: '\e801';
}

/* '' */
/* line 59, scss/_tiffanytse.scss */
.i-menu:before {
  content: '\e802';
}

/* '' */
/* line 60, scss/_tiffanytse.scss */
.i-cancel:before {
  content: '\e803';
}

/* '' */
/* line 61, scss/_tiffanytse.scss */
.i-logo:before {
  content: '\e804';
}

/* '' */
/* line 62, scss/_tiffanytse.scss */
.i-mail:before {
  content: '\e805';
}

/* '' */
/* line 63, scss/_tiffanytse.scss */
.i-left-open:before {
  content: '\e806';
}

/* '' */
/* line 64, scss/_tiffanytse.scss */
.i-download:before {
  content: '\e807';
}

/* '' */
/* line 14, scss/_mixins.scss */
.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Typography
 */
/* line 5, scss/components/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Futura PT", Helvetica, sans-serif;
  color: #222222;
  line-height: 1.4;
}
@media only screen and (min-width: 37.5em) {
  /* line 5, scss/components/_typography.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }
}
/* line 13, scss/components/_typography.scss */
h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
  color: white;
}

/* line 19, scss/components/_typography.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin: 1em 0 .5em;
}

/* line 24, scss/components/_typography.scss */
h1, .alpha {
  font-weight: 400;
  font-size: 40px;
  font-size: 2.5rem;
}
/* line 27, scss/components/_typography.scss */
h1 a, .alpha a {
  color: inherit;
}

/* line 32, scss/components/_typography.scss */
h2, .beta {
  font-size: 40px;
  font-size: 2.5rem;
}

/* line 36, scss/components/_typography.scss */
.gamma + h2 {
  margin-top: 0;
}

/* line 42, scss/components/_typography.scss */
article h2,
article .beta,
.case-studies {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 48, scss/components/_typography.scss */
h3, .gamma {
  font-family: "Cardo", Georgia, serif;
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 54, scss/components/_typography.scss */
article h3,
article .gamma {
  font-family: "Cardo", Georgia, serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #444444;
}

/* line 60, scss/components/_typography.scss */
h4, .delta {
  font-size: 20px;
  font-size: 1.25rem;
  color: #444444;
}

/* line 65, scss/components/_typography.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #444444;
}

/* line 71, scss/components/_typography.scss */
p {
  margin: .5em 0 0;
  line-height: 1.6;
}
/* line 74, scss/components/_typography.scss */
p.light {
  color: white;
}

/* line 80, scss/components/_typography.scss */
.main-content p {
  margin: 1em 0 0;
  line-height: 1.9;
}

/* line 86, scss/components/_typography.scss */
a {
  color: #444444;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -ms-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
/* line 93, scss/components/_typography.scss */
a:hover, a:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 98, scss/components/_typography.scss */
ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

/* line 103, scss/components/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 107, scss/components/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 111, scss/components/_typography.scss */
ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

/* line 115, scss/components/_typography.scss */
ul ul, ol ul {
  list-style-type: circle;
}

/* line 119, scss/components/_typography.scss */
em {
  font-style: italic;
}

/* line 123, scss/components/_typography.scss */
strong {
  font-weight: 600;
}

/* line 127, scss/components/_typography.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

/* line 131, scss/components/_typography.scss */
.t-center {
  text-align: center;
}

/* line 135, scss/components/_typography.scss */
.t-copyright {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Montserrat", "Futura PT", Helvetica, sans-serif;
}

/**
 * Grid System Declarations
 */
/* Apply the shared properties of grid items in a single, efficient ruleset. */
/* line 19, scss/components/_layout.scss */
.wrapper {
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* Containers for grid items and flow items. */
/* line 27, scss/components/_layout.scss */
.header,
.main,
.footer {
  *position: relative;
  *zoom: 1;
}
/* line 46, ../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.header:before, .header:after,
.main:before,
.main:after,
.footer:before,
.footer:after {
  content: "";
  display: table;
}
/* line 50, ../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.header:after,
.main:after,
.footer:after {
  clear: both;
}

/* line 31, scss/components/_layout.scss */
.wrapper {
  max-width: 45em;
  margin: 0 auto;
}

/* line 38, scss/components/_layout.scss */
.header .wrapper {
  padding: 0;
}

/* line 44, scss/components/_layout.scss */
.main section {
  padding: 4em 0;
}
/* line 46, scss/components/_layout.scss */
.main section.intro {
  padding-top: 15.5em;
  margin-top: -10.5em;
}
@media only screen and (min-width: 60em) {
  /* line 46, scss/components/_layout.scss */
  .main section.intro {
    padding-top: 22.5em;
    margin-top: -3.5em;
  }
}
@media only screen and (min-width: 66em) {
  /* line 46, scss/components/_layout.scss */
  .main section.intro {
    margin-top: -5.5em;
  }
}

/* line 60, scss/components/_layout.scss */
.page-front .gpo {
  position: relative;
  padding-top: 13em;
}
/* line 63, scss/components/_layout.scss */
.page-front .gpo .case-studies {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 1em;
}

/* line 75, scss/components/_layout.scss */
.picture {
  margin-top: 4em;
}

/* line 79, scss/components/_layout.scss */
.uottawa .picture {
  margin-top: 5em;
}

@media only screen and (min-width: 60em) {
  /* line 85, scss/components/_layout.scss */
  .page-front .wrapper {
    max-width: 1280px;
  }
  /* line 89, scss/components/_layout.scss */
  .page-front .intro .content {
    float: right;
    width: 41.66667%;
    margin-right: 8.33333%;
    margin-left: -50%;
    text-align: left;
  }
  /* line 92, scss/components/_layout.scss */
  .page-front .intro .content .mega {
    text-transform: uppercase;
    font-size: 70px;
    font-size: 4.375rem;
  }
  /* line 97, scss/components/_layout.scss */
  .page-front .intro .picture {
    float: left;
    width: 41.66667%;
    margin-left: 8.33333%;
    margin-right: -50%;
    position: relative;
    bottom: 0;
  }
  /* line 105, scss/components/_layout.scss */
  .page-front .t-left .content {
    float: left;
    width: 41.66667%;
    margin-left: 8.33333%;
    margin-right: -50%;
    margin-top: 12em;
  }
  /* line 111, scss/components/_layout.scss */
  .page-front .t-right .content {
    float: right;
    width: 41.66667%;
    margin-right: 8.33333%;
    margin-left: -50%;
    margin-top: 4.5em;
  }
  /* line 116, scss/components/_layout.scss */
  .page-front .gpo .picture {
    float: right;
    width: 41.66667%;
    margin-right: 0%;
    margin-left: -41.66667%;
    margin-top: -2.5em;
  }
  /* line 121, scss/components/_layout.scss */
  .page-front .dropfort .picture {
    float: right;
    width: 100%;
    margin-right: 41.66667%;
    margin-left: -141.66667%;
    margin-top: 4em;
  }
  /* line 126, scss/components/_layout.scss */
  .page-front .uottawa .picture {
    float: left;
    width: 83.33333%;
    margin-left: 41.66667%;
    margin-right: -125.0%;
    position: absolute;
    bottom: -1em;
  }
  /* line 132, scss/components/_layout.scss */
  .page-front .drupalcamp .picture {
    float: right;
    width: 100%;
    margin-right: 25%;
    margin-left: -125.0%;
  }
}
@media only screen and (min-width: 100em) {
  /* line 140, scss/components/_layout.scss */
  .page-front .uottawa .picture {
    float: left;
    width: 83.33333%;
    margin-left: 25%;
    margin-right: -108.33333%;
  }
}
/**
 * Layout
 */
@media only screen and (min-width: 37.5em) {
  /* line 152, scss/components/_layout.scss */
  .l-left {
    float: left;
  }

  /* line 156, scss/components/_layout.scss */
  .l-right {
    float: right;
  }
}
@media only screen and (min-width: 37.5em) {
  /* line 164, scss/components/_layout.scss */
  .main-content .img-left {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    margin-left: -2.5%;
  }
  /* line 169, scss/components/_layout.scss */
  .main-content .img-right {
    float: left;
    width: 50%;
    margin-left: 58.33333%;
    margin-right: -108.33333%;
    margin-left: 52.333%;
  }
}
/* line 177, scss/components/_layout.scss */
.margin {
  margin: 2em 0;
}

/* line 185, scss/components/_layout.scss */
.wrapper {
  margin: 0 auto;
  padding: 0 1.5em;
}

/* line 195, scss/components/_layout.scss */
.contact {
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 199, scss/components/_layout.scss */
.contact h2 {
  padding-right: 1em;
}
/* line 202, scss/components/_layout.scss */
.contact .button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
/* line 208, scss/components/_layout.scss */
.contact .i-mail:before {
  margin: 0;
  padding: 0;
}

/* line 214, scss/components/_layout.scss */
.main .main-content {
  margin: 0 auto;
  padding: 2em 1.5em 4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 222, scss/components/_layout.scss */
.page-blog .main .main-content, .page-about .main .main-content {
  max-width: 45em;
}

/* line 232, scss/components/_layout.scss */
.page-uottawa .main-content .wrapper,
.page-drupalcamp .main-content .wrapper,
.page-dropfort .main-content .wrapper,
.page-gpo .main-content .wrapper,
.page-page .main-content .wrapper {
  max-width: 1000px;
  padding: 0;
}
/* line 235, scss/components/_layout.scss */
.page-uottawa .main-content .wrapper p,
.page-drupalcamp .main-content .wrapper p,
.page-dropfort .main-content .wrapper p,
.page-gpo .main-content .wrapper p,
.page-page .main-content .wrapper p {
  max-width: 45em;
  margin: 0 auto;
}
/* line 239, scss/components/_layout.scss */
.page-uottawa .main-content .wrapper h2,
.page-drupalcamp .main-content .wrapper h2,
.page-dropfort .main-content .wrapper h2,
.page-gpo .main-content .wrapper h2,
.page-page .main-content .wrapper h2 {
  text-align: center;
}

/* line 245, scss/components/_layout.scss */
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid #d2d2d2;
}

/* line 250, scss/components/_layout.scss */
.posts > .post:first-child {
  border-top: 1px solid #d2d2d2;
}

/* line 254, scss/components/_layout.scss */
.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

/* line 260, scss/components/_layout.scss */
.post blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid #444444;
  padding: 0.1em 1em;
  color: #444444;
  font-size: 22px;
  font-style: italic;
}

/* line 270, scss/components/_layout.scss */
#case-studies {
  position: relative;
}

/* line 273, scss/components/_layout.scss */
#anchor {
  position: absolute;
  top: 0;
}
@media only screen and (min-width: 37.5em) {
  /* line 273, scss/components/_layout.scss */
  #anchor {
    top: -107px;
  }
}

/* line 281, scss/components/_layout.scss */
footer {
  padding: 3em 0 0;
}

@media only screen and (min-width: 37.5em) {
  /* line 287, scss/components/_layout.scss */
  .header .wrapper,
  .footer__light .wrapper {
    max-width: 1280px;
    padding: 0 1em;
  }

  /* line 293, scss/components/_layout.scss */
  .header__site-info {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    text-align: left;
  }

  /* line 297, scss/components/_layout.scss */
  .header nav {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    text-align: right;
  }

  /* line 303, scss/components/_layout.scss */
  .footer__light .t-copyright.l-left {
    float: left;
    text-align: left;
  }
  /* line 307, scss/components/_layout.scss */
  .footer__light .t-copyright.l-right {
    float: right;
    text-align: right;
    padding-top: 2.4em;
  }
  /* line 312, scss/components/_layout.scss */
  .footer__light .t-copyright .site-logo {
    float: left;
  }
  /* line 315, scss/components/_layout.scss */
  .footer__light .t-copyright span {
    display: inline-block;
    margin-top: 2.4em;
    margin-left: 1em;
  }
}
/*/
/* BASE RULES
/*/
/* line 5, scss/components/_misc.scss */
html {
  font-size: 100%;
}

/* line 9, scss/components/_misc.scss */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.3;
  background: white;
  color: #393939;
}

/* line 18, scss/components/_misc.scss */
.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

/* line 25, scss/components/_misc.scss */
img {
  max-width: 100%;
}

/* line 29, scss/components/_misc.scss */
.date {
  font-style: italic;
  color: #444444;
}

/* line 37, scss/components/_misc.scss */
.bg-dark {
  background-color: #222222;
  color: white;
}
/* line 40, scss/components/_misc.scss */
.bg-dark h2 {
  color: white;
}

/* line 45, scss/components/_misc.scss */
.margin-top {
  margin-top: 2em;
  display: block;
}

/* line 51, scss/components/_misc.scss */
.header {
  position: relative;
  z-index: 1000;
  text-align: center;
  padding: 1em 0 1.5em;
  -webkit-transition: background-color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out;
  -ms-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media only screen and (min-width: 60em) {
  /* line 51, scss/components/_misc.scss */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
/* line 66, scss/components/_misc.scss */
.header .site-logo {
  text-transform: uppercase;
  display: inline-block;
}
/* line 69, scss/components/_misc.scss */
.header .site-logo i {
  float: left;
}
/* line 73, scss/components/_misc.scss */
.header .site-logo h1,
.header .site-logo .site-name {
  color: #222222;
  font-family: "Montserrat", "Futura PT", Helvetica, sans-serif;
  display: none;
  font-weight: bold;
  font-size: 30px;
  font-size: 1.875rem;
  margin-top: .6em;
  margin-left: .75em;
  letter-spacing: 1px;
}
/* line 85, scss/components/_misc.scss */
.header nav {
  font-family: "Montserrat", "Futura PT", Helvetica, sans-serif;
  margin-top: .75em;
}
/* line 88, scss/components/_misc.scss */
.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 92, scss/components/_misc.scss */
.header nav li {
  display: inline-block;
  text-transform: uppercase;
  margin: .2em;
}
@media only screen and (min-width: 37.5em) {
  /* line 92, scss/components/_misc.scss */
  .header nav li {
    margin: .2em 1em;
  }
}
/* line 100, scss/components/_misc.scss */
.header nav a {
  color: white;
  display: block;
  padding: .5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 106, scss/components/_misc.scss */
.header nav a:hover, .header nav a:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 111, scss/components/_misc.scss */
.header nav .contact-btn:hover,
.header nav .contact-btn:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 118, scss/components/_misc.scss */
.border-thin {
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 124, scss/components/_misc.scss */
.site-logo .logo {
  opacity: .6;
}
/* line 128, scss/components/_misc.scss */
.site-logo:hover, .site-logo:focus {
  border-bottom: none;
}

/* line 135, scss/components/_misc.scss */
.bg-dark {
  background-color: #222222;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 139, scss/components/_misc.scss */
.bg-dark h2 {
  color: #f5f5f5;
}
/* line 142, scss/components/_misc.scss */
.bg-dark p {
  color: #fff;
}
/* line 146, scss/components/_misc.scss */
.bg-dark .content a, .bg-dark.footer p a {
  color: #9a9a9a;
}
/* line 149, scss/components/_misc.scss */
.bg-dark .content a:hover, .bg-dark .content a:focus, .bg-dark.footer p a:hover, .bg-dark.footer p a:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* line 155, scss/components/_misc.scss */
.contact.bg-dark .content a {
  color: #648dcd;
}

/* line 160, scss/components/_misc.scss */
i.large {
  font-size: 40px;
  font-size: 2.5rem;
}

/* line 164, scss/components/_misc.scss */
.logo {
  margin-top: .5rem;
  float: left;
}

/* line 169, scss/components/_misc.scss */
.i-cancel {
  color: white;
}

/* line 175, scss/components/_misc.scss */
.site-logo:hover .i-logo, .site-logo:hover h1, .site-logo:hover .site-name,
.site-logo:focus .i-logo,
.site-logo:focus h1,
.site-logo:focus .site-name {
  color: #312c2d;
}

/* line 182, scss/components/_misc.scss */
.main section {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 187, scss/components/_misc.scss */
.page-page section.intro {
  background-color: #374760;
}

/* line 193, scss/components/_misc.scss */
.page-front .main section {
  text-align: center;
  position: relative;
  color: white;
}
@media only screen and (min-width: 60em) {
  /* line 198, scss/components/_misc.scss */
  .page-front .main section.t-right {
    text-align: right;
  }
  /* line 201, scss/components/_misc.scss */
  .page-front .main section.t-left {
    text-align: left;
  }
  /* line 204, scss/components/_misc.scss */
  .page-front .main section .case-studies {
    text-align: center;
  }
}
/* line 208, scss/components/_misc.scss */
.page-front .main section h2 {
  color: white;
}
/* line 212, scss/components/_misc.scss */
.page-front .intro {
  background: #374760 url("images/intro-angles.png") no-repeat center center;
  height: 762px;
}
@media only screen and (min-width: 60em) {
  /* line 212, scss/components/_misc.scss */
  .page-front .intro {
    height: 873px;
    background-size: 1700px 873px;
  }
}
/* line 220, scss/components/_misc.scss */
.page-front .gpo {
  background: #3bc161 url("images/gpo-angles.png") no-repeat center center;
  background-size: 1700px;
  height: 689px;
}
/* line 225, scss/components/_misc.scss */
.page-front .gpo .case-studies {
  background-color: white;
  color: #231f20;
}
/* line 230, scss/components/_misc.scss */
.page-front .dropfort {
  background: #2e8fe8 url("images/dropfort-angles.png") no-repeat center center;
  height: 688px;
  background-size: 1700px;
}
/* line 235, scss/components/_misc.scss */
.page-front .uottawa {
  background: #dd4460 url("images/uottawa-angles.png") no-repeat top center;
  height: 688px;
  background-size: 1700px;
}
/* line 240, scss/components/_misc.scss */
.page-front .drupalcamp {
  background: #643d9b url("images/drupalcamp-angles.png") no-repeat bottom center;
  height: 688px;
  background-size: 1700px;
}

/* line 251, scss/components/_misc.scss */
.page-about .intro {
  background: url("images/about.jpg") top center repeat-x;
  background-attachment: fixed;
}

/* line 257, scss/components/_misc.scss */
.item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 260, scss/components/_misc.scss */
.item-list li {
  border-bottom: 1px solid #d2d2d2;
  padding: 1em 0;
}
/* line 263, scss/components/_misc.scss */
.item-list li p {
  margin: 0;
}
/* line 266, scss/components/_misc.scss */
.item-list li:last-child {
  border-bottom: 0;
}

/* line 273, scss/components/_misc.scss */
.page-blog .intro {
  background: url("images/blog.jpg") top center;
  background-attachment: fixed;
}

/* line 281, scss/components/_misc.scss */
.main-content img {
  width: 100%;
  margin: 2em auto;
  border: 1px solid #ccc;
}
/* line 285, scss/components/_misc.scss */
.main-content img.small {
  max-width: 500px;
}
/* line 288, scss/components/_misc.scss */
.main-content img.no-border {
  border: 0;
}
/* line 291, scss/components/_misc.scss */
.main-content img.center {
  margin: 0 auto;
  display: block;
}
/* line 295, scss/components/_misc.scss */
.main-content img.add-margin {
  margin: 2em auto;
  display: block;
}

/* line 302, scss/components/_misc.scss */
.page-gpo .intro {
  background: #3bc161 url("images/gpo-angles.png") no-repeat right center;
  background-size: cover;
}

/* line 307, scss/components/_misc.scss */
.page-dropfort .intro {
  background: #2e8fe8 url("images/dropfort-angles.png") no-repeat center center;
  background-size: cover;
}

/* line 312, scss/components/_misc.scss */
.page-uottawa .intro {
  background: #dd4460 url("images/uottawa-angles.png") no-repeat top center;
  background-size: cover;
}

/* line 317, scss/components/_misc.scss */
.page-drupalcamp .intro {
  background: #643d9b url("images/drupalcamp-angles.png") no-repeat top center;
  background-size: cover;
}

/* line 322, scss/components/_misc.scss */
.pager {
  padding: 1em;
  max-width: 1280px;
  margin: 0 auto;
}

/* line 329, scss/components/_misc.scss */
.site-link {
  color: white;
}
/* line 332, scss/components/_misc.scss */
.site-link:hover, .site-link:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 341, scss/components/_misc.scss */
.footer .button {
  display: inline-block;
  margin-top: 1.5em;
}

/* line 346, scss/components/_misc.scss */
.footer__light {
  background-color: #393939;
  margin-top: 4em;
  padding: 1em 0 1.5em;
}
/* line 350, scss/components/_misc.scss */
.footer__light span {
  display: block;
  margin-top: 1em;
}
/* line 354, scss/components/_misc.scss */
.footer__light .t-copyright {
  float: none;
  text-align: center;
}

/* line 362, scss/components/_misc.scss */
::-moz-selection {
  color: #231f20;
  background: rgba(0, 0, 0, 0.3);
}

/* line 366, scss/components/_misc.scss */
::selection {
  color: #231f20;
  background: rgba(0, 0, 0, 0.3);
}

/* line 374, scss/components/_misc.scss */
.cf:before, .pager:before,
.cf:after,
.pager:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 379, scss/components/_misc.scss */
.cf:after, .pager:after {
  clear: both;
}

/* line 1, scss/components/_buttons.scss */
.button {
  border: 2px solid;
  padding: .5em 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/* line 8, scss/components/_buttons.scss */
.button.light {
  border-color: white;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
/* line 13, scss/components/_buttons.scss */
.button.dark {
  color: #393939;
  border-color: #acacac;
  background: rgba(0, 0, 0, 0.1);
}
/* line 18, scss/components/_buttons.scss */
.button.dark:hover, .button.dark:focus {
  border: 2px solid #acacac;
}
/* line 23, scss/components/_buttons.scss */
.button.circle {
  height: 35px;
  width: 35px;
  display: inline-block;
  padding: .3em .25em .25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 30, scss/components/_buttons.scss */
.button .i-right-open:before {
  vertical-align: -1px;
  margin-right: 0;
  margin-left: .5em;
}
/* line 36, scss/components/_buttons.scss */
.button:hover, .button:focus {
  border-bottom: 2px solid;
  background-color: transparent;
}
/* line 41, scss/components/_buttons.scss */
.button.l-left {
  float: left;
}
/* line 44, scss/components/_buttons.scss */
.button.l-right {
  float: right;
}

/* line 49, scss/components/_buttons.scss */
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 52, scss/components/_buttons.scss */
.circle .light:hover,
.circle .light:focus {
  background: rgba(255, 255, 255, 0.1);
}

/* line 58, scss/components/_buttons.scss */
.main .button,
.footer .button {
  font-family: "Montserrat", "Futura PT", Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
}

/* line 63, scss/components/_buttons.scss */
.main .button {
  margin-top: 1em;
}

/* line 67, scss/components/_buttons.scss */
.main .button.circle {
  font-size: 16px;
  font-size: 1rem;
}

/* line 71, scss/components/_buttons.scss */
.contact-btn {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/* line 74, scss/components/_buttons.scss */
.contact-btn:hover, .contact-btn:focus {
  border-bottom: 1px solid white;
}

/* line 81, scss/components/_buttons.scss */
header.is-solid nav .contact-btn:hover, header.is-solid nav .contact-btn:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #d2d2d2;
}

/* line 87, scss/components/_buttons.scss */
.pager .button {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 1em;
}

/* line 4, scss/components/_states.scss */
#page {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}
/* line 9, scss/components/_states.scss */
#page .sliding-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 17, scss/components/_states.scss */
#page[data-state='slide-open'] {
  overflow: visible;
}
/* line 22, scss/components/_states.scss */
#page[data-state='slide-open'] .sliding-canvas {
  -webkit-transform: translateY(582px);
  -moz-transform: translateY(582px);
  -ms-transform: translateY(582px);
  -o-transform: translateY(582px);
  transform: translateY(582px);
}
@media only screen and (min-width: 20em) {
  /* line 22, scss/components/_states.scss */
  #page[data-state='slide-open'] .sliding-canvas {
    -webkit-transform: translateY(550px);
    -moz-transform: translateY(550px);
    -ms-transform: translateY(550px);
    -o-transform: translateY(550px);
    transform: translateY(550px);
  }
}
@media only screen and (min-width: 37.5em) {
  /* line 22, scss/components/_states.scss */
  #page[data-state='slide-open'] .sliding-canvas {
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
  }
}

/**
 * Navigation
 */
/* line 38, scss/components/_states.scss */
.contact {
  position: absolute;
  width: 100%;
  top: -582px;
  height: 582px;
}
@media only screen and (min-width: 20em) {
  /* line 38, scss/components/_states.scss */
  .contact {
    top: -550px;
    height: 550px;
  }
}
@media only screen and (min-width: 37.5em) {
  /* line 38, scss/components/_states.scss */
  .contact {
    top: -400px;
    height: 400px;
  }
}

/** 
 * Header Solid
 */
@media only screen and (min-width: 60em) {
  /* line 63, scss/components/_states.scss */
  .header.is-solid .site-logo .logo {
    opacity: .85;
  }
  /* line 66, scss/components/_states.scss */
  .header.is-solid .site-logo h1, .header.is-solid .site-logo .site-name {
    display: inline-block;
  }
  /* line 70, scss/components/_states.scss */
  .header.is-solid nav a {
    color: #444444;
  }
  /* line 73, scss/components/_states.scss */
  .header.is-solid nav a:hover, .header.is-solid nav a:focus {
    color: #231f20;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* line 80, scss/components/_states.scss */
  .is-solid.header {
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  }
}
/**
 * Animated graph
 */
/* line 91, scss/components/_states.scss */
.circle-wrap {
  margin: 1em auto 4em;
  width: 300px;
  height: 300px;
  background: #ddd;
  border-radius: 50%;
}

/* line 100, scss/components/_states.scss */
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}

/* line 107, scss/components/_states.scss */
.circle-wrap .circle .mask {
  clip: rect(0px, 300px, 300px, 150px);
}

/* line 111, scss/components/_states.scss */
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 150px, 300px, 0px);
  background-color: #dd4460;
}

/* line 117, scss/components/_states.scss */
.run .circle .mask.full,
.run .circle .fill {
  animation: fill ease-in-out 2s;
  transform: rotate(180deg);
}

@keyframes fill {
  /* line 123, scss/components/_states.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 126, scss/components/_states.scss */
  100% {
    transform: rotate(180deg);
  }
}

/* line 131, scss/components/_states.scss */
.circle-wrap .inside-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  line-height: 250px;
  text-align: center;
  margin-top: 25px;
  margin-left: 25px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 3.5em;
}

/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/
/* line 6, scss/components/_highlights.scss */
.highlight {
  background-color: #222222;
  padding: 5px 10px;
  margin: 20px 0;
}

/* line 12, scss/components/_highlights.scss */
.highlight pre {
  word-break: break-all;
  word-wrap: break-word;
}

/* line 18, scss/components/_highlights.scss */
code {
  font-family: 'Courier', monospace;
  font-size: 14px;
  color: #999999;
}

/* line 26, scss/components/_highlights.scss */
.highlight .c, .highlight .c1 {
  color: #586e75;
}

/* Comment */
/* line 27, scss/components/_highlights.scss */
.highlight .err {
  color: #93a1a1;
}

/* Error */
/* line 28, scss/components/_highlights.scss */
.highlight .g {
  color: #93a1a1;
}

/* Generic */
/* line 29, scss/components/_highlights.scss */
.highlight .k {
  color: #859900;
}

/* Keyword */
/* line 30, scss/components/_highlights.scss */
.highlight .l {
  color: #93a1a1;
}

/* Literal */
/* line 31, scss/components/_highlights.scss */
.highlight .n {
  color: #93a1a1;
}

/* Name */
/* line 32, scss/components/_highlights.scss */
.highlight .o {
  color: #859900;
}

/* Operator */
/* line 33, scss/components/_highlights.scss */
.highlight .x {
  color: #cb4b16;
}

/* Other */
/* line 34, scss/components/_highlights.scss */
.highlight .p {
  color: #93a1a1;
}

/* Punctuation */
/* line 35, scss/components/_highlights.scss */
.highlight .cm {
  color: #586e75;
}

/* Comment.Multiline */
/* line 36, scss/components/_highlights.scss */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 37, scss/components/_highlights.scss */
.highlight .c1 {
  color: #586e75;
}

/* Comment.Single */
/* line 38, scss/components/_highlights.scss */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
/* line 39, scss/components/_highlights.scss */
.highlight .gd {
  color: #2aa198;
}

/* Generic.Deleted */
/* line 40, scss/components/_highlights.scss */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
/* line 41, scss/components/_highlights.scss */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
/* line 42, scss/components/_highlights.scss */
.highlight .gh {
  color: #cb4b16;
}

/* Generic.Heading */
/* line 43, scss/components/_highlights.scss */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 44, scss/components/_highlights.scss */
.highlight .go {
  color: #93a1a1;
}

/* Generic.Output */
/* line 45, scss/components/_highlights.scss */
.highlight .gp {
  color: #93a1a1;
}

/* Generic.Prompt */
/* line 46, scss/components/_highlights.scss */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 47, scss/components/_highlights.scss */
.highlight .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
/* line 48, scss/components/_highlights.scss */
.highlight .gt {
  color: #93a1a1;
}

/* Generic.Traceback */
/* line 49, scss/components/_highlights.scss */
.highlight .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
/* line 50, scss/components/_highlights.scss */
.highlight .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
/* line 51, scss/components/_highlights.scss */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 52, scss/components/_highlights.scss */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 53, scss/components/_highlights.scss */
.highlight .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
/* line 54, scss/components/_highlights.scss */
.highlight .kt {
  color: #dc322f;
}

/* Keyword.Type */
/* line 55, scss/components/_highlights.scss */
.highlight .ld {
  color: #93a1a1;
}

/* Literal.Date */
/* line 56, scss/components/_highlights.scss */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
/* line 57, scss/components/_highlights.scss */
.highlight .s {
  color: #2aa198;
}

/* Literal.String */
/* line 58, scss/components/_highlights.scss */
.highlight .na {
  color: #93a1a1;
}

/* Name.Attribute */
/* line 59, scss/components/_highlights.scss */
.highlight .nb {
  color: #b58900;
}

/* Name.Builtin */
/* line 60, scss/components/_highlights.scss */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
/* line 61, scss/components/_highlights.scss */
.highlight .no {
  color: #cb4b16;
}

/* Name.Constant */
/* line 62, scss/components/_highlights.scss */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
/* line 63, scss/components/_highlights.scss */
.highlight .ni {
  color: #cb4b16;
}

/* Name.Entity */
/* line 64, scss/components/_highlights.scss */
.highlight .ne {
  color: #cb4b16;
}

/* Name.Exception */
/* line 65, scss/components/_highlights.scss */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
/* line 66, scss/components/_highlights.scss */
.highlight .nl {
  color: #93a1a1;
}

/* Name.Label */
/* line 67, scss/components/_highlights.scss */
.highlight .nn {
  color: #93a1a1;
}

/* Name.Namespace */
/* line 68, scss/components/_highlights.scss */
.highlight .nx {
  color: #555555;
}

/* Name.Other */
/* line 69, scss/components/_highlights.scss */
.highlight .py {
  color: #93a1a1;
}

/* Name.Property */
/* line 70, scss/components/_highlights.scss */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
/* line 71, scss/components/_highlights.scss */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
/* line 72, scss/components/_highlights.scss */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
/* line 73, scss/components/_highlights.scss */
.highlight .w {
  color: #93a1a1;
}

/* Text.Whitespace */
/* line 74, scss/components/_highlights.scss */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
/* line 75, scss/components/_highlights.scss */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
/* line 76, scss/components/_highlights.scss */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
/* line 77, scss/components/_highlights.scss */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
/* line 78, scss/components/_highlights.scss */
.highlight .sb {
  color: #586e75;
}

/* Literal.String.Backtick */
/* line 79, scss/components/_highlights.scss */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
/* line 80, scss/components/_highlights.scss */
.highlight .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
/* line 81, scss/components/_highlights.scss */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
/* line 82, scss/components/_highlights.scss */
.highlight .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
/* line 83, scss/components/_highlights.scss */
.highlight .sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
/* line 84, scss/components/_highlights.scss */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
/* line 85, scss/components/_highlights.scss */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
/* line 86, scss/components/_highlights.scss */
.highlight .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
/* line 87, scss/components/_highlights.scss */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
/* line 88, scss/components/_highlights.scss */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
/* line 89, scss/components/_highlights.scss */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
/* line 90, scss/components/_highlights.scss */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
/* line 91, scss/components/_highlights.scss */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
/* line 92, scss/components/_highlights.scss */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
/* line 93, scss/components/_highlights.scss */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
