---
layout: default
title: Work &middot; DrupalCamp Ottawa
previous: uottawa/
class: drupalcamp
---

<section class="section intro">
  <div class="wrapper">
    <div class="content t-center">
      <h1 class="light">DrupalCamp</h1>
      <p class="gamma light">UX Design / UI Design / Responsive<br>Front End Development</p>
      <p><a class="site-link light" href="https://drupalcampottawa.com" rel="external" target="_blank">Checkout DrupalCamp</a></p>
    </div>
  </div>
</section>

<div class="main-content">
  <div class="wrapper">
  <article>
    <p>DrupalCamp is an event for anyone using Drupal, or responsible for designing, building, developing, and supporting Drupal in any capacity. It’s a place where designers, developers, and Drupal users can brush shoulders with Drupal service providers, hosting vendors, and other members of the broader open-source community to discuss and learn about Drupal.</p>

    <h2>Information Upfront</h2>
    <p>After talking with the board, it was clear that in the past the event information wasn’t available on the home page like it should be - it had been under the about section, or contact. This didn’t make sense, since the main goal of the site is for users to attend the conference - we needed to showcase how to register, where the event would be, pricing and key features. This was accomplished by including all the conference information on the home page.</p>

    <h2>Google Maps</h2>
    <p>The design called for a full-width map, however I wanted to make sure that it was interactive and useful. Incorporating a custom Google Map, with custom styling and directions was something I had never done before - but after doing research and reading documentation it wasn’t difficult to implement. I ended up using a really neat tool called Snazzy Maps, which is a repository of different color schemes for Google Maps aimed towards web designers and developers. After choosing one and customizing a few details, and went through the task of implementing it - making sure to turn off scrolling zoom on the map to avoid any issues for users scrolling past it on desktop.</p>

    <h2>Mobile Friendly Schedule</h2>
    <p>The schedule was one of the most important pages on the site, it is always the most accessed, and it was essential to ensure that it worked well on mobile devices. The design was stacked and straightforward to clearly indicate the time slots and concurrent sessions for each. The best part was seeing people continuously use this feature at the conference between breaks.</p>

    <h2 class="gamma">Outcomes</h2>
    <h2>A Great Event</h2>
    <p>There were very few issues reported with the site, and the conference itself was a success - with the largest number of attendees to date. The saying, keep it simple, really hit home for me with this project. I definitely look forward to improving the site next year, by implementing a ‘create your own schedule’ feature for logged in users, and rejigging a few things throughout the site – such as adding some animations. </p>


    </article>
  </div>
</div>


<div class="pager">
  {% if page.previous %}<a class="button dark l-left" href="{{ site.baseurl }}/work/{{ page.previous }}"><i class="i-left-open"></i>Previous </a>{% endif %}
  {% if page.next%}<a class="button dark l-right" href="{{ site.baseurl }}/work/{{ page.next }}">Next <i class="i-right-open"></i></a>{% endif %}
</div>