
        <h2>Get in Touch</h2>
        <p><i class="large i-mail"></i></p>
        <div class="content c-info">
          <p class="gamma">The fastest way to get ahold of me is to send me an email. I will try my best to respond to your email within 48 hours.</p>
          <p class="gamma"><a href="mailto:hey@tiffanytse.ca">hey@tiffanytse.ca</a></p>
          <p class="gamma">You can also find me on {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" rel="external">twitter</a>,{% endif %}
          {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" rel="external">linkedin</a>,{% endif %}
          {% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" rel="external">dribbble</a>, and {% endif %}
          {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" rel="external">github</a>.{% endif %}
          </p>
        </div>
        
