
        <h2>Get in Touch</h2>
        <p><i class="large i-mail"></i></p>
        <div class="content">
          <p class="gamma">The fastest way to get ahold of me is to send me an email. I will try my best to respond to your email within 48 hours.</p>
          <p class="gamma"><a href="mailto:hey@tiffanytse.ca">hey@tiffanytse.ca</a></p>
          <p class="gamma">If email is not your thing, you can find me on {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">twitter</a>,{% endif %}
          {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">linkedin</a>,{% endif %}
          {% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}">dribbble</a>, and {% endif %}
          {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">github</a>.{% endif %}
          </p>
        </div>
        <a class="button circle light"><i class="i-cancel"></i><span class="hide-text">Close</span></a>
