
      <div class="l-center t-center">
        <p class="gamma">Want to get in touch?</p>
        <p class="gamma">Send me an <a href="mailto:hey@tiffanytse.ca">email</a> or find me on {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">twitter</a>,{% endif %}
        {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">linkedin</a>,{% endif %}
        {% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}">dribbble</a>, and {% endif %}
        {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">github</i></a>{% endif %}
        </p>
        <a class="button light">Find out more about me  <i class="i-right-open"></i></a>
      </div>

      <div class="footer__light">
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
        <p class="copyright l-left">Built with love and <a href="https://github.com/tiffanytse/tiffanytse.ca">Github</a>.</p>
        <p class="copyright l-right">Copyright &copy; Tiffany Tse 2015</p>
      </div>