
      <div class="wrapper t-center">
        <p class="gamma">Want to get in touch?</p>
        <p class="gamma">Send me an <a href="mailto:hey@tiffanytse.ca">email</a> or find me on {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" rel="external">twitter</a>,{% endif %}
        {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" rel="external">linkedin</a>,{% endif %}
        {% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" rel="external">dribbble</a>, and {% endif %}
        {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" rel="external">github</a>.{% endif %}
        </p>
        {% if page.class == "about" %}
        <a href="{{ site.baseurl }}/#anchor" class="button light">View Recent Work  <i class="i-right-open"></i></a>
        {% else %}
        <a href="{{ site.baseurl }}/about/" class="button light">Learn About Me  <i class="i-right-open"></i></a>
        {% endif %}
      </div>

      <div class="footer__light cf">
        <div class="wrapper">
        <p class="t-copyright l-left">
          <a class="site-logo" href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/images/logo.svg" alt="logo"><span class="element-invisible">Tiffany Tse</span></a>
          <span>Built with love and <a href="https://github.com/tiffanytse/tiffanytse.ca" rel="external">Github</a>.</span></p>
        <p class="t-copyright l-right">Copyright &copy; Tiffany Tse 2015</p>
        </div>
      </div>