---
layout: default
title: Work &middot; Dropfort™
next: uottawa/
previous: gpo/
class: dropfort
---

<section class="section intro">
  <div class="wrapper">
    <div class="content t-center">
      <h1 class="light">Dropfort™</h1>
      <p class="gamma light">UX Design / UI Design / Responsive<br>
Front End Development (Sass, Grunt, Drupal 7)</p>
      <p><a class="site-link light button" href="http://dropfort.com" rel="external" target="_blank">View Dropfort</a></p>
    </div>
  </div>
</section>

<div class="main-content">
  <div class="wrapper">
  <article>
    <p>Dropfort™ is a web application that helps you organize your Drupal projects and manage all your Drupal websites in one place. At Coldfront Labs Inc. we created a variety of internal tools that we used to deploy and manage Drupal 7 applications and websites for our own clients. These include building virtual machines using vagrant and puppet, github and gitlab for version control and packaging releases. By using Dropfort™, these tools and their data are integrated into one interface thereby making it easier to package releases for production, observing modules that require updating, as well as displaying statistics for all of our sites and applications in one place. Coldfront Labs Inc. has released a beta version of Dropfort™ to the public and you can sign up at <a href="http://dropfort.com" rel="external">http://dropfort.com</a></p>

    <img class="no-border" src="{{ site.baseurl }}/images/dropfort/branding-2.png" alt="Dropfort™ Logos" >


    <img class="no-border small center" src="{{ site.baseurl }}/images/dropfort/branding-1.png" alt="Dropfort™ Logos" >

    <br>
    <h2>Building a Base</h2>
    <p>One of the largest challenges for staff at Coldfront Labs Inc., was figuring out how to put all the tools and features that the developers were creating into a single interface. My biggest challenge was trying to convince the developers to stop adding features before we figured out the workflows and interfaces for them. To allow for the developers to add new features and test them (as for all projects) we started with style tiles and added a living coded style guide. The style guide allowed for all the UI components to be styled cohesively. In the event that new forms, fields or tables were added to the application - everything would look complimentary.</p>

    <img class="small center no-border" src="{{ site.baseurl }}/images/dropfort/ui-components.jpg" alt="Dropfort™ UI Components" >


    <h2>The Application</h2>
    <p>Initially we went through iterations of both a light and dark interface. Eventually settling on a darker interface, in order to add more weight to the navigation and have the page content stand out. As for the dashboards, we decided to use cards to display information that could be moved around and rearranged in a more modular format. Inside pages that displayed content for individual nodes were provided with page headings and a slightly different design that distinguished them from the dashboards that contained varying types of content.</p>

    <div class="cf">
      <img class="img-left" src="{{ site.baseurl }}/images/dropfort/light-ui.jpg" alt="Dropfort™ UI Components" >
      <img class="img-right" src="{{ site.baseurl }}/images/dropfort/light-ui2.jpg" alt="Dropfort™ UI Components" >
    </div>

    <div class="cf">
      <img class="img-left" src="{{ site.baseurl }}/images/dropfort/dark-ui.jpg" alt="Dropfort™ UI Components" >
      <img class="img-right" src="{{ site.baseurl }}/images/dropfort/dark-ui2.jpg" alt="Dropfort™ UI Components" >
    </div>

    
    <img src="{{ site.baseurl }}/images/dropfort/sites-long.jpg" alt="Dropfort™ Mockups" >


    <h2>Building a Product</h2>
    <p>To compliment the application we needed a product site to explain what Dropfort™ does and to provide updates on any new features. I designed and created a simple site that displayed the features upfront. Coldfront Labs Inc. wanted the website to be simple and straightforward. We knew that most of the people coming to the site would be signing up or logging in so those functions were displayed as main menu items. The blog and pricing options were located at the bottom of the site discoverable as a user makes their way to the end of the page.</p>

    <img src="{{ site.baseurl }}/images/dropfort/landing.jpg" alt="Dropfort™ Landing Page" >
    <img src="{{ site.baseurl }}/images/dropfort/blog.jpg" alt="Dropfort™ Blog" >

    <h2>Marketing Material</h2>
    
    <img class="small center add-margin" src="{{ site.baseurl }}/images/dropfort/marketing.jpg" alt="Dropfort™ Marketing Material" >
    

    <h2 class="gamma">Outcomes</h2>
    <h2>Iterations and Features</h2>

    <p>Coldfront Labs. Inc is still in the process of building Dropfort. New features are being released each month.</p>

    <p>One of my favorite features of Dropfort™ is that you can easily create environments  containing virtual machines with an GUI and customize them to have all the tools you need for development.</p>   

    <p>Presently, the application is very task oriented and the design reflects a focus on data and function. Moving forward, there is definitely things that need tweaking in terms of workflow - but it’s a work in progress and something that I am proud to have made.</p>  

    <p>It was important to me to stress to my team that although a feature might be implemented, it not necessarily mean that it is a good idea. The application needed to make sense to someone who had never seen it before. Therefore, with testing, utilizing descriptions and including a help feature and walkthrough on each page - I think we accomplished that.</p>


    </article>
  </div>
</div>

<div class="pager">
  {% if page.previous %}<a class="button dark l-left" href="{{ site.baseurl }}/work/{{ page.previous }}"><i class="i-left-open"></i>Previous </a>{% endif %}
  {% if page.next%}<a class="button dark l-right" href="{{ site.baseurl }}/work/{{ page.next }}">Next <i class="i-right-open"></i></a>{% endif %}
</div>