.button{
  &.light{
    color: $white;
    &:hover, 
    &:focus{
      @include background(rgba(255,255,255, 0.1));
    }
  }
  &.dark{
  color: $darkGray;
  }

  &.circle{
    border: 2px solid;
    height: 35px;
    width: 35px;
    display: inline-block;
    padding: .3em .25em .25em;
    @include box-sizing(border-box);
  }
}

.circle{
  @include border-radius(50%);
  &.light{
    border-color: $white;
  }
  &.dark{
    border-color: $darkGray;
  }
}


