.button{
  border: 2px solid;
  padding: .5em 1.5em;
  @include border-radius(3px);
  display: inline-block;

  &.light{
    border-color: $white;
    color: $white;
    @include background(rgba(255,255,255, 0.1));
  }
  &.dark{
    color: $darkGray;
    border-color: #acacac;
    @include background(rgba(0,0,0, 0.1));
  }

  &.circle{
    height: 35px;
    width: 35px;
    display: inline-block;
    padding: .3em .25em .25em;
    @include box-sizing(border-box);
  }
  .i-right-open:before{
    vertical-align: -1px;
    margin-right: 0;
    margin-left: .5em;
  }
  &:hover, 
  &:focus{
    border-bottom: 2px solid;
  }
}

.circle{
  @include border-radius(50%);
  .light:hover, 
  .light:focus{
    @include background(rgba(255,255,255, 0.1));
  }
}

.main .button, 
.footer .button{ 
  font-family: $montserrat;
  @include rem-fallback(font-size, 1.125); //18px
}

.main .button{
  margin-top: 1em;
}

.main .button.circle{
  @include rem-fallback(font-size, 1); //16px
}

.contact-btn{
 @include ease(all, 250ms, ease-in-out);
 &:hover, 
 &:focus{
  border-bottom: 1px solid $white;
 } 
}

header.is-solid nav .contact-btn{
 &:hover, 
 &:focus{
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid #d2d2d2;
 } 
}

.pager .button{
  @include rem-fallback(font-size, 1); //16px
  margin-top: 0;
}
