// Toggle Contact Info


#page{
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  .sliding-canvas{
    width: 100%;
    height: 100%;
    position: relative;
    //@include translateY(0);
    @include ease(all, 600ms, cubic-bezier(0.19, 1, 0.22, 1));
  }

  &[data-state='slide-open']{
    // Allow expansion of navigation past page height, when open
    overflow:visible;
  }

  &[data-state='slide-open'] .sliding-canvas{
    @include translateY(582px);
    @media #{$mobile} {
      @include translateY(550px);
    }
    @media #{$tablet} {
      @include translateY(400px);
    }
  }
}


  /**
   * Navigation
   */

  .contact{
    //creates sliding effect
    position: absolute;
    width: 100%;
    // @include ease(all, 300ms, linear);
    top: (-582px);
    height: 582px;
    @media #{$mobile} {
      top: (-550px);
      height: 550px;
    }
    @media #{$tablet} {
      top: (-400px);
      height: 400px;
    }
  }


/** 
 * Header Solid
 */

@media #{$tablet-landscape} { 
  .header.is-solid {
    .site-logo{
      .logo{
        opacity: .85;
      }
      h1, .site-name{
        display: inline-block;
      }
    }
    nav a{
      color: $gray;
      &:hover, 
      &:focus{
        color: $black;
        border-bottom: 1px solid rgba(0,0,0, 0.1);
      }
    }
  }

  .is-solid.header{
    background-color: $white;
    @include box-shadow(rgba(0,0,0,0.3) 0 0 10px);
  }
} 

/**
 * Animated graph
 */


.circle-wrap {
  margin: 1em auto 4em;
  width: 300px;
  height: 300px;
  background: #ddd;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 300px, 300px, 150px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 150px, 300px, 0px);
  background-color: $pink;
}

.run .circle .mask.full,
.run .circle .fill {
  animation: fill ease-in-out 2s;
  transform: rotate(180deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.circle-wrap .inside-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  line-height: 250px;
  text-align: center;
  margin-top: 25px;
  margin-left: 25px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 3.5em;
}