@import "variables";
/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
  color: $darkerGray;
  line-height: 1.2; 

  @include mobile {
    line-height: 1.4;
  }
}
  
h1, .alpha{  
  font-weight: 400;
  @include rem-fallback(font-size, 2.5); // 40px
  a {
    color: inherit; 
  }
}

h2, .beta{
  @include rem-fallback(font-size, 2.5);
}

.article h2{
  @include rem-fallback(font-size, 1.25); // 20px
  text-transform: uppercase;
}

h3, .gamma{  
  font-family: $cardo;
  @include rem-fallback(font-size, 1.375); // 22px 
}

h4 {  
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; 
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

.hide-text{
  @include hide-text;
}

.t-center{
  text-align: center;
}