---
layout: default
class: blog
---



<section class="section intro">
  <div class="wrapper">
    <div class="content t-center">
      <h1 class="light">Blog</h1>
      <p class="gamma light">Thoughts, experiments and things that interest me.</p>
    </div>
  </div>
</section> 

<div class="main-content">
  <article class="post">
    <h1>{{ page.title }}</h1>
    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>
    <div class="entry">
      {{ content }}
    </div>
    {% include disqus.html disqus_identifier=page.disqus_identifier %}
  </article>
</div>